{{#*inline "og_title" ~}}sn0int registry{{/inline ~}}
{{#*inline "og_description" ~}}The hottest OSINT modules on the netblock{{/inline ~}}
{{#*inline "page" ~}}
<main>
    <p>
    This is the registry server of sn0int, a semi-automatic OSINT framework and
    package manager.  It was built for IT security professionals and bug hunters to
    gather intelligence about a given target or about yourself. sn0int is
    enumerating attack surface by semi-automatically processing public information
    and mapping the results in a unified format for followup investigations.
    </p>

    <p>
    The registry server allows uploading modules that can be installed by
    users afterwards. This is done using sn0int which needs to be <a
    href="https://sn0int.readthedocs.io/en/latest/install.html"
    target="_blank" rel="noopener">installed</a>.
    </p>

    <p>
    To install a module run:
    </p>
    <p class="code"><code>
    sn0int pkg install kpcyrd/ctlogs
    </code></p>

    {{#each modules}}
        <h3>[ {{this.0}} ]</h3>
        <ul class="modules">
        {{#each this.1}}
            <li>
                <span class="mod-cell mod-name">
                    <a href="/r/{{this.author}}/{{this.name}}">{{this.author}}/{{this.name}}</a>
                    <i class="fas fa-paste copy noscript-hidden" data-clipboard-text="{{this.author}}/{{this.name}}"></i>
                </span><span class="mod-cell mod-version">
                    {{this.latest}}
                </span><span class="mod-cell mod-descr">
                    {{this.description}}
                </span>
            </li>
        {{/each}}
        </ul>
    {{/each}}
</main>
{{/inline ~}}
{{~> base }}
